.profile-img {
        width: 128px;
        height: 128px;
        margin-right: 20px !important;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        background-size: auto 128px !important;
        background-repeat: no-repeat;
    }

.post-img {
        width: 50px;
        height: 50px;
        margin-right: 10px !important;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        background-size: auto 50px !important;
        background-repeat: no-repeat;
    }


.input-group-addon{
        min-width: 117px;
}

.post{
    color: white;
    background-color: #2980b9;
    padding: 10px;
    border-radius: 5px;
}

.cw{
    color: #fff !important;
}